*{
    font-family: 'Courier New', 'Lucida Console', Monaco;
}
.container{
    background: rgb(248, 219, 164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    color: red;
    background: white;
    font-size: 24px;
    padding: 8px 32px;
    
}


li{
    color: blue;
    display: inline;
    padding: 5px;
    background: white;
}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

a{
    text-decoration: none;
}